/* compiled with USCSS on: Sun May 18 2014 23:58:15 GMT+0300 (GTB Yaz Saati)*/ 
div.muz {
	font-family: helvetica, arial, sans-serif;
	display: block;
	text-decoration: none;
	color: blue;
	margin: 0;
	font-size: 1em;
	background: red;
	border: 1px solid red;
}
div.muz:hover {
	color: red;
	margin: 0 50px;
	font-size: 1em;
	background: rgba(255,255,255,.5);
	border: 2px solid rgba(255,170,50,.5);
}
div.muz:active .inner-element {
	margin: 0 25px;
	font-size: 1.1em;
	border: 2px dashed blue;
}
div.muz.small {
	margin: 10px;
	font-size: .8em;
	border: 5px solid black;
}
a {
	font-family: helvetica, arial, sans-serif;
	display: block;
	text-decoration: none;
	color: #eee;
	background: url(..img/leyley.png) top left, url(../img/lel.png) bottom center;
}
a:active {
	display: none;
	color: #ddd;
	background: url(../img/lol.png);
}
a:hover {
	display: block;
	color: red;
	background: #fd5;
}
b {
    font-weight: bold;
    visibility: hidden
}
i{}
p {
	color: red;
	background: blue;
}
p:not(.hede) {
	background: red;
}
hr {
	color: red;
	background: blue;
}
hr:last-child {
	background: red;
}
